body{
    margin: 20px; 
}

.avatar{
    width: 150px;
}

.card{  
    width: 600px;
    margin: 0 auto;
    padding: 20px; 
    display: flex; /*All the direct children of an element gets converted into columns of same height*/
    justify-content: space-around;
    text-align: center;
    background-color: #ddebf8;
    border-bottom: 9px solid #d8cefe;
    color: #2b2839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

